a {
	text-decoration: none;
}

.headerBar {
	background: white;
	li {
		display: inline-block;
	}
	ul {
		float: right;
	}
}

.logo {
	color: #F52900;
	font-size: 30px;
}

.sell {
	color: lighten(#289AB7, 10%);
}

.register {
	color: lighten(#289AB7, 10%);
}

.signIn {
	color: lighten(#289AB7, 10%);
	border: 2px solid lighten(#289AB7, 10%);
	border-radius: 4px;
	padding: 5px;
}

.cartImg {
	width: 18px;
	height: 18px;
}

nav {
	background: white;
	ul li{
		display: inline-block;
	}
}

.subContainer {
	background: #F4F5F0;
}

.sidebar {
	display: inline-block;
	vertical-align: top;
	background: white;
	border: 1px solid #EAEAE7;
	border-radius: 4px;
}

.subSubContainer {
	display: inline-block;
}

.grid {
	width: 500px;
	height: 500px;
	margin-top: 16px;
	background: pink;
}

.relatedBoxes {
	display: inline-block;
}

.linkBox {
	display: inline-block;
	background: lightgray;
	padding: 5px;
}