a {
	text-decoration: none;
}

li {
	list-style: none;
}

$primary-color: lighten(#2695B1, 9%);

.headerBar {
	background: white;
	li {
		display: inline-block;
	}
	ul {
	  float: right;
  	  margin-top: -15px;
  	  margin-right: -66px;
	}
}

.logo {
	color: #F52900;
	font-size: 30px;
	font-family: 'Lora', serif;
	margin-left: -11px;
    margin-top: -3px;
}

.formInput {
    width: 314px;
    height: 14px;
    margin-left: 12px;
    padding-top: 9px;
    background: white;
    border-right-style: hidden;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-radius: 2px;
}

.searchButton{
    color: white;
    background: #23A8C0;
    border: 2px solid #119FB5;
    border-radius: 0 3px 3px 0;
    margin-left: -8px;
    vertical-align: top;
    width: 63px;
    height: 26px;
    font-size: 11px;
}

.sell {
	color: $primary-color;
    font-size: 12px;
    vertical-align: top;
    margin-top: 24px;
    margin-right: 8px;
}

.register {
    color: $primary-color;
    font-size: 12px;
    vertical-align: top;
    margin-top: 25px;
    margin-right: 7px;
}

.signIn {
    color: $primary-color;
    border: 2px solid #3db6d5;
    border-radius: 4px;
    padding: 5px;
    width: 38px;
    height: 14px;
    font-size: 12px;
    margin-right: 10px;
    vertical-align: top;
    margin-top: 18px;
}

.cart {
    border-left: 2px solid #E5E6E2;
    padding-left: 9px;
    margin-right: 132px;
    margin-top: 15px;
}

.cartImg {
	width: 18px;
	height: 18px;
}

.cartText {
	font-size: 10px;
}

nav {
    background: white;
    border-top: 1px solid #E5E6E2;
    height: 33px;
    ul {
    vertical-align: top;
    margin-top: 6px;
    padding-left: 29px;
    }
	ul li{
    display: inline-block;
    font-size: 12px;
    margin-right: 13px;
	}
	ul li a {
		color: #7B7B7B;
	}
}

.subContainer {
	background: #F4F5F0;
	border-top: 2px solid lightgray;
}

.subHeadingContainer {
    margin-top: 0px;
    padding-top: 18px;
    padding-left: 28px;
    margin-bottom: 0px;
}

.subHeadingContainer li {
	display: inline-block;
	font-size: 11px;
}

.categories {
	margin-left: 120px;
    font-weight: bold;
}

.allCategories {
	color: $primary-color;
	font-weight: normal;
}

.catResults {
	font-weight: normal;
}

.sortBy {
    float: right;
    margin-right: 65px;
    margin-top: 5px;
}

.relevancy {
	color: $primary-color;
}

.sidebar {
    display: inline-block;
    vertical-align: top;
    background: white;
    border: 1px solid #EAEAE7;
    border-radius: 4px;
    margin-left: 29px;
    padding-left: 9px;
    margin-top: 8px;
    padding-top: 10px;
    font-size: 11px;
    width: 175px;
	li {
   	 margin-left: 9px;
   	 margin-top: 6px;
   	 	a{
   	 	color: $primary-color;
   	 	}
	}
}

.subSubContainer {
    display: inline-block;
    width: 928px;
    margin-left: 15px;
}

.grid {
    width: 100%;
    margin-top: 8px;
}

.pugContainer {
    width: 208px;
    height: 201px;
    margin-right: 13px;
    margin-bottom: 10px;
    overflow: hidden;
    display: inline-block;
    background: white;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.imgContainer {
    width: 208px;
    height: 164px;
    overflow: hidden;
    position: relative;

   &:hover .heart {
   opacity: 1;
   	background: white;
   	border: 1px solid lightgray;
   	border-radius: 4px;
   	transition: all .1s ease-in-out;
   		&:hover {
   			background: darken(white, 10%);
   		}
   }
    &:hover .hamburger {
    opacity: 1;
   	background: white;
   	border: 1px solid lightgray;
   	border-radius: 4px;
   	transition: all .1s ease-in-out;
   		&:hover {
   			background: darken(white, 10%);
   		}
   }
}

.heart {
	position: absolute;
   	top: 5px;
   	right: 41px;
   	width: 28px;
   	height: 28px;
   	opacity: 0;
   	padding: 2px;
   	zoom: .7;
}

.hamburger{
  	position: absolute;
   	top: 5px;
   	right: 5px;
   	width: 28px;
   	height: 28px;
   	opacity: 0;
   	padding: 2px;
   	zoom: .7;
}

.pugImage {
    width: 208px;
    overflow: hidden;
}

.pugTitle {
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 5px;
}

.pugTitleLink{
	font-size: 10px;
	color: darken(darkgray, 30%);
	font-weight: bold;
	padding: 5px;
	white-space: nowrap;
}

.pugStoreLink{
	font-size: 10px;
	color: darkgray;
	padding: 5px;
}

.priceBox {
	float: right;
	margin-right: 5px;
}

.pugCurrency {
	color: lightgreen;
	font-size: 10px;
}

.price {
	color: lightgreen;
	font-size: 10px;
}

.ellipsis {
	font-size: 10px;
	color: darken(darkgray, 30%);
	font-weight: bold;
}

.relatedBoxes {
    display: inline-block;
    margin-right: 116px;
}

.related {
	font-size: 11px;
    padding-top: 4px;
    padding-left: 2px;
}

.relatedList {
    padding-left: 0px;
    margin-top: 6px;
	ul li a {
		color: $primary-color;
		font-size: 10px;
	}
}

.relatedColumn1 {
	padding-left: 2px;
}

.relatedColumn3 {
	vertical-align: top;
    position: relative;
    top: -35px;
}
.lookingFor {
	font-size: 11px;
    padding-top: 3px;
    padding-left: 2px;
    a {
    	color: $primary-color;
	    position: relative;
	    left: 1px;
    }
}
.linkBox {
    display: inline-block;
    background: white;
    border: 1px solid lightgray;
    padding-left: 10px;
    padding-right: 9px;
    padding-top: 5px;
    font-size: 12px;
    height: 24px;
    margin-left: -6px;
    position: relative;
    left: 6px;
    border-radius: 3px;
    	a{
    		color: black;
    	}
}

.pageLinks {
	padding-left: 3px;
}